__pycache__
ignored

build/
dist/
*.egg-info/

.vscode/
.idea/
.DS_Store

.venv/
venv/

tools/
ignored/

frontend/node_modules/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
pycapcut_gui/web_dist/
packaging/output/
